.DS_Store
/ClassDumpDyld.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/ClassDumpDyld.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ClassDumpDyld.xcodeproj/project.xcworkspace/xcuserdata/jh.xcuserdatad/UserInterfaceState.xcuserstate
/ClassDumpDyld.xcodeproj/xcuserdata/jh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/ClassDumpDyld.xcodeproj/xcuserdata/jh.xcuserdatad/xcschemes/xcschememanagement.plist
ClassDumpDyld.xcodeproj/xcshareddata
